

.quote-container{
    width: 60%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 500px;
    overflow: hidden;
}

.quote-container p{
    position: relative;
    top: 60px;
    font-size: 2rem;
    font-style: italic;
    color:rgba(5, 0, 51, 0.747)
}

.quote-container span{
    position: relative;
    top: 40px;
    left: 20px;
    font-size: 1.5rem;
    color:rgba(5, 0, 51, 0.747)
}

.home-img-container{
    width: 60%;
    height: 600px;
    margin-left:auto;
    margin-right: auto;
    overflow:hidden;
    padding-bottom: 100px;
}

